.cursor/
.venv/
__pycache__/

model/yolo*

# temporarily ignore all files in the old folder
# Files are too big for git
/results
/videos

model/test
model/train
model/valid

model/runs/segment/train*/**/*.jpg
model/runs/segment/train*/**/*.png
model/runs/segment/train**/**/*.jpg
model/runs/segment/train**/**/*.png

utilities/**/*.png
utilities/**/**/*.png
utilities/**/**/**/*.png
utilities/**/**/**/**/*.png
utilities/**/**/**/**/**/*.png

testing/**/*.png
testing/**/**/*.png
testing/**/**/**/*.png

misc/


